* {
    box-sizing: border-box;
}

:root {
    --text-color-black-gray: #575d5e;
    --primary-color-black-green: #143c3c;
    --primary-color-black: #152427;
    --secondary-color-light-green: #e2eddf;
    --text-color-light-gray: #7d8188;
    --secondary-color-blue: #83a17d;
    --secondary-color-gray: #6a8383;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* ---------- Common ----------- */
.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.section-title {
    position: relative;
    color: var(--primary-color-black);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.63; /* 162.5% */
    padding-left: 46px;
}

.section-title::before {
    position: absolute;
    left: 0;
    top: 9px;
    content: "";
    width: 25px;
    height: 1px;
    background: var(--primary-color-black);
}

.section-heading {
    color: var(--primary-color-black);
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24; /* 123.81% */
}

.section-heading::after {
    position: absolute;
    content: "";
    width: 66px;
    height: 2px;
    background: var(--primary-color-black);
}

.section-heading-03 {
    color: var(--primary-color-black);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.line-wrap {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* ---------- Header ----------- */
.header {
    font-family: Public Sans, sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56; /* 155.556% */
}

.header__btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color-black-green);
    min-width: 173px;
    height: 57px;
    border-radius: 40px;
    border: 1.5px solid var(--primary-color-black-green);
    background: #fff;
    padding: 0 20px;
    position: relative;
    overflow: hidden;
    transition: all 0.35s;
}

.header__btn-text {
    z-index: 2;
}

.header__btn:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--primary-color-black-green);
    transition: all 0.35s;
    border-radius: 40px;
}

.header__btn:hover {
    color: #fff;
}

.header__btn:hover::after {
    width: 100%;
}
/* ---------- Header top ----------- */
.header-top {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 28px;
    padding-bottom: 14px;
}

.header-top::after {
    position: absolute;
    bottom: 0;
    content: "";
    width: 100%;
    height: 1px;
    background: linear-gradient(
        18deg,
        #fff 0%,
        #dddcdc 51.25%,
        rgba(212, 212, 212, 0) 100%
    );
}

.navbar__list {
    display: flex;
}

.navbar {
    margin-left: auto;
    margin-right: 69px;
}

.navbar__item {
    position: relative;
}

.navbar__item::after {
    position: absolute;
    left: 25px;
    bottom: -28px;
    content: "";
    width: 16px;
    height: 2px;
    background: var(--primary-color-black-green);
    visibility: hidden;
}

.navbar__item:hover::after {
    visibility: visible;
}

.navbar__link {
    color: var(--text-color-black-gray);
    padding: 8px 19px;
    transition: 0.25s;
}

.navbar__item:hover .navbar__link {
    color: var(--primary-color-black);
}

/* ---------- Hero ----------- */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0 164px;
}

.hero__content {
    max-width: 393px;
}

.hero__heading {
    color: var(--primary-color-black);
    font-size: 5rem;
    font-weight: 800;
    line-height: 1.2; /* 120% */
    max-width: 368px;
}

.hero__desc {
    color: var(--text-color-black-gray);
    margin-top: 20px;
    max-width: 341px;
}

.hero__row {
    display: flex;
    margin-top: 42px;
}

.hero__watch {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 43px;
    cursor: pointer;
}

.hero__watch-icon {
    position: absolute;
    left: -8px;
    color: var(--primary-color-black-green);
    transition: 0.3s;
}

.hero__watch:hover .hero__watch-icon {
    color: #83a17d;
    left: 23px;
    transform: rotateY(180deg);
}

.hero__watch-play {
    color: #83a17d;
    transition: 0.3s;
}

.hero__watch:hover .hero__watch-play {
    color: var(--primary-color-black-green);
    transform: rotateY(360deg);
}

.hero__watch-text {
    color: var(--primary-color-black);
    font-family: Poppins;
    font-weight: 600;
    line-height: 1.67; /* 166.667% */
    margin-left: 15px;
    transition: 0.3s;
}

.hero__watch:hover .hero__watch-text {
    color: #83a17d;
}

.hero__media {
    position: relative;
    max-width: 646px;
    margin-right: 25px;
}

.hero__images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
}

.hero__img {
    width: 100%;
    height: 466px;
    border-radius: 110px;
    object-fit: cover;
    background: lightgray 50% / cover no-repeat;
}

.hero__block {
    position: relative;
    margin-top: 77px;
}

.hero__img--absolute {
    position: absolute;
}

.hero__circle {
    position: absolute;
    top: 45px;
    left: -66px;
    width: 340px;
    height: 340px;
    flex-shrink: 0;
    border-radius: 340px;
    background: #4dbb9a;
    filter: blur(137px);
    z-index: -1;
}

.hero__icon:first-of-type {
    position: absolute;
    top: -33px;
    left: -214px;
}

.hero__icon:last-of-type {
    position: absolute;
    right: 10px;
    bottom: -144px;
}

/* ---------- Header-bottom ----------- */
.header-bottom {
    margin-top: 43px;
    border-radius: 100.5px;
    background: var(--secondary-color-light-green);
}

.header-bottom__brand {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 77px 121px;
}

.header-bottom__img {
    display: flex;
}

/* ---------- Service ----------- */
.service {
    margin-top: 106px;
}

.service__inner {
    position: relative;
}

.service__heading {
    position: relative;
    margin-top: 12px;
    max-width: 520px;
}

.service__heading::after {
    bottom: 20px;
    right: 103px;
}

.service__controls {
    position: absolute;
    top: 79px;
    right: 73px;
    display: flex;
    column-gap: 17px;
}

.service__control {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color-black);
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background: var(--secondary-color-light-green);
    cursor: pointer;
    transition: 0.25s;
}

.service__control:hover {
    color: #fff;
    background: var(--primary-color-black-green);
}

.service__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
    margin-top: 86px;
}

.service-item__thumb {
    height: 318px;
    border-radius: 20px 20px 0px 0px;
    background: lightgray 50% / cover no-repeat;
    overflow: hidden;
}

.service-item__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
}

.service__item:hover .service-item__img {
    transform: scale(1.1);
}

.service-item__body {
    padding: 24px 0;
    border-radius: 0 0 20px 20px;
    background: #fff;
    transition: 0.3s;
}

.service__item:hover .service-item__body {
    padding-left: 18px;
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}

.service-item__desc {
    margin-top: 18px;
    max-width: 268px;
    color: var(--text-color-light-gray);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71; /* 171.429% */
}

/* ---------- About ----------- */
.about {
    margin-top: 150px;
}

.about__inner {
    display: flex;
}

.about__media {
    position: relative;
    display: flex;
    max-width: 57.6%;
    column-gap: 21px;
}

.about__img {
    width: 284px;
    height: 480px;
    object-fit: cover;
    border-radius: 210px;
    background: lightgray 50% / cover no-repeat;
    box-shadow: 0px 4px 234px 11px rgba(59, 137, 71, 0.25);
}

.about__img-down {
    margin-top: 90px;
}

.about__img-top {
    margin-top: 13px;
    margin-right: 64px;
}

.about__decor {
    position: absolute;
    left: 45px;
    top: -18px;
}

.about__block {
    position: absolute;
    bottom: 8px;
    right: 55px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 7px 54px 0px rgba(154, 154, 154, 0.25);
    padding: 19px 17px 11px;
}

.about__block-title {
    color: var(--primary-color-black);
    font-family: Public Sans;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1; /* 100% */
    margin: 0 6px;
}

.about__heading::after {
    position: relative;
}

.about__block-desc {
    margin: 6px 0 0 6px;
    color: var(--text-color-black-gray);
    font-family: Public Sans;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4; /* 140% */
    opacity: 0.4;
}

.about__block-value,
.about__block-text,
.about__block-loading {
    color: var(--primary-color-black);
    font-family: Public Sans;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4; /* 140% */
}

.about__block-value {
    margin: 10px 0 0 6px;
}

.about__block-bar {
    position: relative;
    margin: 3px 6px;
    width: calc(100% - 12px);
    height: 2px;
    border-radius: 10px;
    background: #eaeaea;
}

.about__block-bar::before {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    width: 40%;
    height: 2px;
    border-radius: 10px;
    background: #83a17d;
}

.about__block-loading {
    text-align: right;
    margin-right: 5px;
}

.about__block-group {
    position: relative;
    display: inline-block;
    margin: 3px 0 0 2px;
}

.about__block-circle-large {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #eaeaea;
}

.about__block-circle-small {
    position: absolute;
    inset: 3px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #143c3c;
}

.about__block-row {
    margin-top: 4px;
    display: flex;
    justify-content: space-between;
}

.about__block-list {
    display: flex;
}

.about__block-item {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #fff;
    margin-left: -6px;
}

.about__block-avt {
    width: 14px;
    height: 14px;
    object-fit: cover;
    border-radius: 50%;
    background: lightgray 50% / cover no-repeat;
}

.about__content {
    max-width: 42.4%;
}

.about__tile {
    line-height: 1.13; /* 112.5% */
    margin-bottom: 20px;
}

.about__desc {
    margin-top: 11px;
    color: var(--text-color-light-gray);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.63; /* 162.5% */
}

.about__statistics {
    position: relative;
    display: flex;
    margin-top: 38px;
    padding-bottom: 21px;
}

.about__statistics::after {
    position: absolute;
    bottom: 0;
    content: "";
    width: 100%;
    height: 1px;
    background: #83a17d;
}

.about__statistics-top {
    margin-top: 36px;
}

.about__value {
    color: var(--primary-color-black);
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24; /* 123.81% */
    margin-right: 24px;
}

.about__statistics-desc {
    color: var(--text-color-light-gray);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71; /* 171.429% */
}

/* ---------- Process ----------- */
.process {
    padding-top: 36px;
    margin-top: 79px;
}

.process__title {
    line-height: 1.13; /* 112.5% */
}

.process__title::before {
    top: 8px;
}

.process__heading {
    position: relative;
    margin-top: 20px;
    width: 477px;
}

.process__heading::after {
    bottom: 18px;
    right: -9px;
}

.process__list {
    margin-top: 81px;
    min-height: 495px;
}

.process__item {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 155px;
    padding: 0 41px 0 30px;
    border-bottom: 1px solid #83a17d;
    transition: 0.3s;
}

.process__item:hover {
    border-color: transparent;
    border-radius: 33px;
    background: var(--secondary-color-light-green);
    height: 185px;
}

.process__index {
    color: var(--primary-color-black-green);
    font-size: 7.2rem;
    font-weight: 600;
    line-height: 0.72; /* 72.222% */
}

.process__block {
    position: relative;
    margin-left: 50px;
}

.process__block-top {
    margin-left: 66px;
}

.process__more {
    position: absolute;
    left: 0;
    bottom: -37px;
    color: var(--text-color-black-gray);
    font-size: 1.8rem;
    line-height: 1; /* 100% */
    text-decoration: underline;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.process__item:hover .process__more {
    opacity: 1;
}

.process__desc {
    max-width: 572px;
    color: var(--text-color-light-gray);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56; /* 155.556% */
    margin-left: auto;
}

.process__item:hover .process__desc {
    visibility: hidden;
}

.process__img {
    position: absolute;
    bottom: 0;
    right: 92px;
    visibility: hidden;
}

.process__item:hover .process__img {
    visibility: visible;
}

/* ---------- Process ----------- */
.feature {
    margin-top: 148px;
    padding: 116px 0 63px;
    background: var(--primary-color-black-green);
}

.feature__title {
    display: flex;
    align-items: center;
}

.feature__heading {
    position: relative;
    color: #e7f9f9;
    max-width: 457px;
}

.feature__heading::after {
    bottom: 19px;
    right: 97px;
    background: var(--secondary-color-blue);
}

.feature__block {
    margin-left: auto;
}

.feature__desc {
    margin-right: 40px;
    max-width: 550px;
    color: var(--secondary-color-gray);
}

.feature__desc,
.feature__text {
    font-family: Public Sans;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56; /* 155.556% */
}

.feature__link {
    display: flex;
    align-items: center;
    margin-top: 13px;
    color: #fff;
    transition: 0.3s;
}

.feature__link:hover {
    color: #80a07b;
}

.feature__text {
    margin-right: 26px;
}

.feature__media {
    position: relative;
    margin-top: 65px;
}

.feature__video {
    width: 100%;
    border-radius: 22px;
    background: lightgray 50% / cover no-repeat;
}

.feature__play {
    position: absolute;
    top: calc(50% - 59px);
    left: calc(50% - 59px);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 118px;
    height: 118px;
    border-radius: 50%;
    border: none;
    background: #000000b2;
    opacity: 0.7;
    cursor: pointer;
}

.feature__play:hover {
    opacity: 0.9;
}

/* ---------- Service Feature ----------- */
.share {
    margin-top: 140px;
}

.share__heading {
    max-width: 520px;
}

.share__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.share__heading::after {
    position: relative;
}

.share__desc {
    margin-top: 20px;
    max-width: 547px;
    color: var(--text-color-light-gray);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.63; /* 162.5% */
}

.share__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 45px;
    margin-top: 103px;
}

.share-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 160px;
    border: 1.5px solid #cecece;
    height: 362px;
    transition: 0.3s;
}

.share-item:hover {
    transform: translateY(-59px);
    border-color: transparent;
    background: #fff;
    box-shadow: 0px 36px 100px 0px rgba(111, 120, 111, 0.2);
}

.share-item__title {
    margin-top: 26px;
    color: #152427;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.share-item__desc {
    margin: 10px auto 0;
    max-width: 264px;
    color: var(--text-color-light-gray);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71; /* 171.429% */
    text-align: center;
}

/* ---------- Blog ----------- */
.blog {
    margin-top: 184px;
}

.blog__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.blog__heading {
    position: relative;
    max-width: 520px;
}

.blog__heading::after {
    width: 82px;
    bottom: 18px;
    right: -51px;
}

.blog__desc {
    max-width: 409px;
    color: var(--text-color-light-gray);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.63; /* 162.5% */
}

.blog__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    margin-top: 90px;
}

.blog-item__thumb {
    display: block;
    border-radius: 40px 40px 0px 0px;
    overflow: hidden;
}

.blog-item__img {
    display: block;
    width: 100%;
    height: 317px;
    object-fit: cover;
    background: lightgray 50% / cover no-repeat;
    transition: 0.3s;
}

.blog-item:hover .blog-item__img {
    transform: scale(1.1);
}

.blog-item__body {
    position: relative;
    height: 192px;
    padding: 26px 20px 12px 0;
    overflow: hidden;
    transition: 0.3s;
}

.blog-item:hover .blog-item__body {
    border-radius: 0px 0px 20px 20px;
    background: #fff;
    box-shadow: 0px 12px 74px 0px rgba(91, 91, 91, 0.25);
    padding-left: 30px;
}

.blog-item__btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 107px;
    height: 26px;
    border-radius: 20px;
    background: var(--secondary-color-light-green);
    color: #000;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2; /* 120% */
    transition: 0.3s;
}

.blog-item:hover .blog-item__btn {
    color: var(--secondary-color-light-green);
    background: var(--primary-color-black-green);
}

.blog-item__title {
    margin-top: 13px;
    max-width: 346px;
    color: var(--primary-color-black-green);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67; /* 166.667% */
}

.blog-item__line {
    position: absolute;
    bottom: 39px;
    right: 23px;
    margin-top: 38px;
    width: calc(100% - 23px);
    padding-right: 23px;
    height: 1px;
    background: #c4c4c4;
    transition: 0.3s;
}

.blog-item:hover .blog-item__line {
    width: calc(100% - 53px);
}

.blog-item__date {
    position: absolute;
    bottom: 12px;
    right: 23px;
    color: var(--text-color-black-gray);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2; /* 120% */
}

/* ---------- Footer ----------- */
.footer {
    margin-top: 102px;
    padding: 72px 0 50px;
    background: var(--primary-color-black-green);
}

.footer__inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 45px;
}

.footer__inner::after {
    position: absolute;
    bottom: 0;
    content: "";
    width: 100%;
    height: 1px;
    background: linear-gradient(
        90deg,
        #143c3c 2.28%,
        #295a5a 55.65%,
        rgba(38, 82, 82, 0) 102.06%
    );
}

.footer__heading {
    color: #fff;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: normal;
}

.footer__cta {
    display: inline-block;
    margin-top: 25px;
    padding-bottom: 32px;
    border-bottom: 1px solid #6a8383;
}

.footer__input {
    width: 300px;
    color: var(--secondary-color-gray);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1; /* 100% */
    background: transparent;
    outline: none;
    border: none;
}

.footer__btn {
    color: #c4c4c4;
    background: transparent;
    border: none;
    cursor: pointer;
}

.footer__socials {
    display: flex;
    column-gap: 22px;
    margin-top: 47px;
}

.footer__social {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    border: 1px solid #265252;
    transition: 0.4s;
}

.footer__social:hover {
    background: #a75325;
}

.footer__columns {
    display: flex;
    column-gap: 50px;
}

.footer__title {
    color: #fff;
    font-family: Public Sans;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56; /* 155.556% */
}

.footer__item {
    display: block;
    color: var(--secondary-color-gray);
    font-family: Public Sans;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.25; /* 225% */
}

.footer__item:hover {
    text-decoration: underline;
}